.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mask {
  position: fixed;
  top: 34;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, .5);
  z-index: 5;
}