@charset "UTF-8";
html {
  font-size: 312.5%;
}

/* 变量 */
/* 混合 */
body {
  margin: 0;
  font-size: initial;
  background: #FFFFFF;
  /* 头部 */
  /* 主要内容 */
  /* 底部 */
}

body p {
  margin: 0;
}

body ul, body li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1.28rem;
  background: #5FC0CD;
  z-index: 1;
}

body header .btn-left {
  margin-right: -.1rem;
  line-height: .7rem;
  width: 1.44rem;
  text-align: center;
  border-radius: .2rem;
  border: none;
  outline: none;
  color: #FFFFFF;
  background: #55A8B3;
}

body header .btn-right {
  line-height: .7rem;
  width: 1.44rem;
  text-align: center;
  border-radius: .2rem;
  border: none;
  outline: none;
  color: #5FC0CD;
  background: #FFFFFF;
}

body header a {
  position: absolute;
  right: .3rem;
  width: .44rem;
  height: .44rem;
  background: url(../img/css_sprite.png) no-repeat -0.2rem -3.72rem;
}

body main {
  /* 主要内容顶部 */
  margin-bottom: 1.2rem;
  /* 主要内容中部 */
}

body main .main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  top: 1.28rem;
  background: #FFFFFF;
  z-index: 1;
}

body main .main-top .in {
  border-left: .01rem solid #E1E5E7;
  border-right: .01rem solid #E1E5E7;
}

body main .main-top div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: .8rem;
  font-size: .28rem;
  color: #999999;
  border-bottom: .01rem solid #E1E5E7;
  z-index: 1;
  /* 下拉框 */
}

body main .main-top div .triangle {
  position: absolute;
  right: .2rem;
  border-top: .14rem solid #AFBAC0;
  border-left: .07rem solid transparent;
  border-right: .07rem solid transparent;
}

body main .main-top div ul {
  display: none;
  position: absolute;
  top: .81rem;
  width: 100%;
  text-align: center;
  background: #FFFFFF;
}

body main .main-top div:hover ul {
  display: block;
}

body main .main-top li:hover {
  background: #5FC0CD;
}

body main .main-in {
  margin-top: 2.08rem;
}

body main .main-in .line {
  position: relative;
  padding: .3rem .72rem;
  font-size: .26rem;
  color: #999999;
  border-bottom: .01rem solid #E1E5E7;
}

body main .main-in .line .line-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main-in .line .line-top::before {
  position: absolute;
  content: "";
  width: .24rem;
  height: .24rem;
  left: -.44rem;
  background: url(../img/css_sprite.png) no-repeat -0.2rem -0.2rem;
}

body main .main-in .line .line-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: .25rem 0;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-in .line .line-in p {
  font-size: .28rem;
  font-weight: 600;
  color: #333333;
}

body main .main-in .line .line-in span {
  font-size: .3rem;
  font-weight: 600;
  color: #E63B0E;
}

body main .main-in .line .line-in::after {
  position: absolute;
  content: "";
  right: -.4rem;
  width: .24rem;
  height: .24rem;
  border-top: .03rem solid #5FC0CD;
  border-right: .03rem solid #5FC0CD;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body main .main-in .line .line-top.bottom::before {
  height: .3rem;
  background: url(../img/css_sprite.png) no-repeat -0.2rem -0.75rem;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F8FAFB;
  /* 底部蓝色大圆圈 */
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .2rem;
}

body footer div span {
  margin-bottom: .18rem;
  width: .48rem;
  height: .4rem;
  background: url(../img/css_sprite.png) no-repeat -0.2rem -1.4rem;
}

body footer div a {
  text-decoration: none;
  color: #5FC0CD;
}

body footer div .people {
  width: .48rem;
  height: .42rem;
  background: url(../img/css_sprite.png) no-repeat -0.17rem -2.9rem;
}

body footer div .my {
  color: #999999;
}

body footer .circular {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #5FC0CD;
}

body footer .circular span {
  margin: 0;
  width: .4rem;
  height: .4rem;
  background: url(../img/css_sprite.png) no-repeat -0.17rem -2.18rem;
}
/*# sourceMappingURL=task-12-2.css.map */